# Environment variables
.env
.env.*

# Ignore all Markdown files except README.md
*.md
!README.md

# Node
node_modules/
.next/
node_modules/
target/
.next/
dist/
build/
# Rust
target/

# Build files
dist/
build/

# Environment
*.env

# Logs
*.log

# Windows
*.pdb

# IDE
.vscode/
.idea/frontend/nul
frontend/nul
/nul
